/* header */
header {
    position: relative;
    height: auto;
    background-image: url(/images/me.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 66.64%;
    opacity: .6;
}

.header-text {
    position: relative;
    text-shadow: white 3px 3px 10px;
    color: #000;
    margin: -36% 2.5% auto auto;
    font-size: 2.5vw;
}

#intro,
#where-from,
#contacts,
#name {
    text-align: right;
}

/* general styles */
main {
    padding: 0 100px;
    font-size: 2.5vw;
}

.invisible {
    display: none;
}

.section-title {
    font-size: 5vw;
}

/* navbar */
nav {
    font-size: 3vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

nav a {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* quiz */
.quiz-button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: 4px 2px 4px 0;
    transition-duration: .4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555;
}

.quiz-button:hover {
    background-color: #555;
    color: white;
}

.quiz-question {
    margin: 0 0 6px 0;
}

/* social media icons */
.fa {
    padding: 2vw;
    font-size: 4vw;
    width: 4vw;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: .7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #000;
    color: white;
}

.fa-envelope {
    background: #C22820;
    color: white;
}

/* my recent projects section */
.proj-title {
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.proj-link {
    opacity: .7;
    font-size: 2vw;
    font-style: italic;
    margin-left: 3vw;
}

.proj-tech {
    margin-left: 3vw;
    opacity: .7;
    font-size: 2vw;
    font-style: italic;
}

.proj-desc {
    margin: 0 0 3vw 3vw;
}

/* about section */
.about-text {
    text-align: justify;
}

/* footer */
footer {
    margin-top: 20px;
    height: 10vw;
    padding-top: 11vw;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    background-color: #333;
}

/* comments */
.comment-item {
    padding: 10px 18px;
    background-color: #DCDCDC;
    margin: 5px 0;
    width: 100%;
    border: 2px solid #555;
}

.comment-owner {
    display: inline-block;
    font-size: 3.5vw;
    margin-right: 3.5vw;
}

.comment-date {
    display: inline-block;
    font-style: italic;
}

.comment-text {
    margin-top: 5px;
}

.comment-input-text {
    padding: 12px 18px;
    font-family: "Roboto Mono", monospace;
    height: 100px;
    width: 100%;
    border: 2px solid #555;
    resize: none;
    background-color: #DCDCDC;
}

.comment-input-owner {
    background-color: #DCDCDC;
    font-family: "Roboto Mono", monospace;
    border: 2px solid #555;
    padding: 12px 18px;
    height: 10px;
    width: 100%;
}

.comment-input-title {
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.comment-input-owner:focus,
.comment-input-text:focus {
    background-color: white;
    border: 2px solid #555;
}

.comment-button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: 4px 2px 4px 0;
    transition-duration: .4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555;
}

.comment-button:hover {
    background-color: #555;
    color: white;
}

.error-input {
    background-color: white;
    border: 2px solid red;
}

.error-message {
    background-color: pink;
    color: red;
    padding: 12px 20px;
    font-size: 3vw;
    margin: 4px 0;
    width: 100%;
}
